body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.palette {
  margin-top: 10px;
}

.circle {
  border: 1px solid;
  float: left;
  line-height: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  width: 34px;
  border-radius: 50%;
  outline: none;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 34px;
  outline: none;
}

.white {
  background: #fff;
}

.red {
  background: #f00;
}

.green {
  background: #0f0;
}

.blue {
  background: #00f;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
